article {
    background:#fff;
    padding:60px 0;
    font-size:18px;

    .container > header, .container > section, .container > footer {
        margin:0 8em;
    }

    .social {
        height:40px;
        padding:10px 0;

        > div {
            display:inline-block;
            min-width:120px;
        }
    }

    .container > footer {
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
        padding-top:1.5em;
        padding-bottom:1.5em;
        margin-top:1.5em;
        margin-bottom:1.5em;
    }

    header {
        margin-top:2em;
        margin-bottom:2em;

        &::after {
            content:" ";
            display:block;
            width:1.5em;
            height:0.2em;
            background:#ddd;
            margin:1em 0;
        }
    }



    p {
        font-size:1em;
        line-height:1.5;
        color:$text;
        font-weight:400;
        margin:0 0 1.5em;


    }


    ol, ul {
        font-weight: 600;
        margin: 1.5em 0;
        padding: 0;
        list-style-position: outside;
        padding-left: 1.5em;

        li {
            font-weight:400;
            margin-bottom:0.5em;
        }
    }

    blockquote {
        border-left: 4px solid #777;
        padding: 0 15px;
        font-size: 0.9em;
        margin:1.2em -4em 1.2em 0;

        p {
            font-size:1em;
            line-height:1.2em;
            color:$textmuted;
            font-weight:600;
            font-style: italic;
            margin-bottom: 3px;

        }
    }

    h1 {
        font-size:2.1em;
        margin:0.5em 0 1em;
    }

    h2 {
        font-size:1.8em;
        margin:0.5em 0 1em;
    }

    h3 {
        font-size:1.5em;
    }

    h4 {
        font-size:1.3em;
        color: #11598A;
    }

    h5, h6 {
        font-size: 1.1em;
        font-style: italic;
        color: #094066;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 800;
    }

    hr {
        margin:2em 0;
    }

    .meta {
        color:$textmuted;
        font-size:13px;
        text-transform:uppercase;
        margin-bottom:0.3em;
        font-weight:400;
        letter-spacing:1px;

        time, address {
            display:inline;
            font-size:13px;
        }

        a {
            border:0;
            color:$textmuted;
        }
    }

    img {
        max-width:100%;
        margin:1em 0;
        box-shadow: 5px 5px 5px rgba(0,0,0,.4);
    }


    .title {
        margin:0.2em 0;

        a {
            border:0;
        }
    }


    .subtitle {
        // font-size: 1.4em;
        // margin: 0.2em 0;
        color: $textmuted;
        // font-weight: 300;
        font-style: italic;
    }


    .highlight {
        border:0;

        .lineno {
            color:$textmuted;
        }
    }

    pre {
        border: 0;
        padding: 1.5em 3em;
        margin:0 -3em 1.5em;
        // background: whitesmoke;
        border: 0;
        border-radius: 2px;
        border-bottom:1px solid #eee;
        width:100%;
        font-size:0.8em;
        overflow-x: auto;
        display:block;

        code {
            font-size:0.9em;
            border:0;
        }
    }

    code {
        border-bottom:1px solid #ddd;
        border-radius:10px;
        color:#222;
    }

    .rounded img {
        border-radius:6px;
    }

    .border img {
        border:1px solid #ddd;
    }

    .full {
        margin:1.5em -6em;
        padding:0;
        text-align:center;

        iframe {
            max-width:100% !important;
        }

        img {
            max-width:100%;
            margin:0;
            transition:0.5s all ease;
        }


        &.zoomable {
            img {
                cursor: -webkit-zoom-in;
            }
        }

        &.zoomable img.zoom {
            cursor: -webkit-zoom-out;
        }

        &.zoomable img.zoom {
            -webkit-transform:scale(1.2);
            transition:0.4s all ease;
            box-shadow:0 2px 5px rgba(0,0,0,0.5);
        }
    }

}

span {
  &.blue {
    color: blue;
  }

  &.red {
    color: red;
  }
}

section.article {
    h1 {
        padding: 20px 20px;
    }

    h2 {
        padding: 16px 20px;
    }

    h3 {
        padding: 12px 20px;
    }

    h4 {
        padding: 8px 20px;
    }

    h5, h6 {
        padding: 5px 20px;
    }

    h1, h2 {
        margin-left: -30px;
        border-left: 7px solid #eee;
    }

    h3 {
        margin-left: -20px;
        &:before {
            content: "\f0da";
            font-family: FontAwesome;
            padding-right: 10px;
            margin-left: -20px;
            font-size: 1.1em;
        }
    }

    h4 {
        margin-left: -20px;
        // &:before {
        //     content: "\2605";
        //     padding-right: 10px;
        //     margin-left: -20px;
        //     font-size: 1.1em;
        // }
    }

    h5, h6 {
      margin-left: -20px;
    }

    .subtitle {
        margin-top: -20px;
    }
}
